In [57]:
import pandas as pd
from allofplos import Corpus, starterdir

In [59]:
corpus = Corpus('/data02/allofplos')

In [9]:
full=pd.read_excel('/home/balla/munjung/plos-thesaurus/plosthes.2020-1.full.xlsx')

'Systemic inflammation is a leading cause of hospital death. Mild systemic inflammation is accompanied by warmth-seeking behavior (and fever), whereas severe inflammation is associated with cold-seeking behavior (and hypothermia). Both behaviors are adaptive. Which brain structures mediate which behavior is unknown. The involvement of hypothalamic structures, namely, the preoptic area (POA), paraventricular nucleus (PVH), or dorsomedial nucleus (DMH), in thermoregulatory behaviors associated with endotoxin (lipopolysaccharide [LPS])-induced systemic inflammation was studied in rats. The rats were allowed to select their thermal environment by freely moving in a thermogradient apparatus. A low intravenous dose of Escherichia coli LPS (10 µg/kg) caused warmth-seeking behavior, whereas a high, shock-inducing dose (5,000 µg/kg) caused cold-seeking behavior. Bilateral electrocoagulation of the PVH or DMH, but not of the POA, prevented this cold-seeking response. Lesioning the DMH with ibotenic acid, an excitotoxin that destroys neuronal bodies but spares fibers of passage, also prevented LPS-induced cold-seeking behavior; lesioning the PVH with ibotenate did not affect it. Lesion of no structure affected cold-seeking behavior induced by heat exposure or by pharmacological stimulation of the transient receptor potential (TRP) vanilloid-1 channel (“warmth receptor”). Nor did any lesion affect warmth-seeking behavior induced by a low dose of LPS, cold exposure, or pharmacological stimulation of the TRP melastatin-8 (“cold receptor”). We conclude that LPS-induced cold-seeking response is mediated by neuronal bodies located in the DMH and neural fibers passing through the PVH. These are the first two landmarks on the map of the circuitry of cold-seeking behavior associated with endotoxin shock.'

In [70]:

for article in corpus[1000:1010]:
    print( "discipline",article.taxonomy['Discipline'])
    print("==================================================================================")

discipline [('Cell Biology/Cell Signaling', 'Developmental Biology/Developmental Molecular Mechanisms', 'Developmental Biology/Embryology', 'Developmental Biology/Pattern Formation')]
==================================================================================
discipline [('Infectious Diseases/HIV Infection and AIDS', 'Public Health and Epidemiology/Health Policy', 'Public Health and Epidemiology/Infectious Diseases')]
==================================================================================
discipline [('Biotechnology', 'Genetics and Genomics/Gene Function', 'Genetics and Genomics/Gene Therapy', 'Oncology/Prostate Cancer', 'Biotechnology', 'Genetics and Genomics/Gene Function', 'Genetics and Genomics/Gene Therapy', 'Oncology/Prostate Cancer')]
==================================================================================
discipline [('Infectious Diseases/Bacterial Infections', 'Radiology and Medical Imaging/PET and SPECT Imaging')]
==================================================================================
discipline [('Ecology/Conservation and Restoration Ecology', 'Ecology/Population Ecology', 'Ecology/Spatial and Landscape Ecology')]
==================================================================================
discipline [('Cell Biology', 'Immunology/Immune Response', 'Immunology/Immunity to Infections', 'Immunology/Innate Immunity', 'Microbiology/Immunity to Infections', 'Infectious Diseases/Fungal Infections')]
==================================================================================
discipline [('Molecular Biology', 'Molecular Biology/Transcription Elongation')]
==================================================================================
discipline [('Cell Biology', 'Biochemistry/Experimental Biophysical Methods', 'Biophysics/Experimental Biophysical Methods', 'Cell Biology/Cell Signaling')]
==================================================================================
discipline [('Evolutionary Biology', 'Evolutionary Biology/Animal Genetics', 'Genetics and Genomics/Population Genetics')]
==================================================================================
discipline [('Molecular Biology', 'Biochemistry/Transcription and Translation', 'Genetics and Genomics/Animal Genetics', 'Genetics and Genomics/Epigenetics', 'Genetics and Genomics/Functional Genomics', 'Genetics and Genomics/Gene Expression', 'Genetics and Genomics/Gene Function', 'Physiology/Genomics', 'Physiology/Integrative Physiology', 'Gastroenterology and Hepatology/Hepatology', 'Non-Clinical Medicine/Research Methods')]
==================================================================================

In [74]:
1

1

In [69]:
article.taxonomy

{'heading': [('Research Article',)],
 'Discipline': [('Immunology/Immunomodulation',
   'Evidence-Based Healthcare/Health Services Research and Economics',
   'Infectious Diseases/Epidemiology and Control of Infectious Diseases',
   'Infectious Diseases/HIV Infection and AIDS',
   'Infectious Diseases/Viral Infections',
   'Public Health and Epidemiology/Immunization')]}

In [72]:
full[full['Tier 1'].notna()]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
0,Biology and life sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7683,Computer and information sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7910,Earth sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8512,Ecology and environmental sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8728,Engineering and technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9240,Medicine and health sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13702,People and places,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14227,Physical sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16258,Research and analysis methods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17736,Science policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17776,Social sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
dis_index=full[full['Tier 1'].notna()].index

In [37]:
import numpy as np

In [54]:
subject_hierarchy = {}
for i,ind in enumerate(dis_index):
    if i == 10:
        all_sub = full.loc[ind:].values.tolist()
    else:
        all_sub = full.loc[ind:dis_index[i+1]-1].values.tolist()
    subject_hierarchy[full['Tier 1'][ind]] = [sub for sublist in all_sub for sub in sublist if str(sub) != 'nan']

In [15]:
full.loc[7683:7909]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
7683,Computer and information sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7684,NaN,Artificial intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7685,NaN,NaN,Artificial neural networks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7686,NaN,NaN,Expert systems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7687,NaN,NaN,Genetic programming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7905,NaN,NaN,System stability,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7906,NaN,NaN,Systems analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7907,NaN,NaN,Systems biology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7908,NaN,NaN,NaN,Integrative physiology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7909,NaN,NaN,NaN,Systems ecology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
full.loc[7910:8511]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
7910,Earth sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7911,NaN,Atmospheric science,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7912,NaN,NaN,Atmosphere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7913,NaN,NaN,NaN,Ozone layer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7914,NaN,NaN,Atmospheric chemistry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8507,NaN,NaN,NaN,Soil salinity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8508,NaN,NaN,Soil ecology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8509,NaN,NaN,Soil mineralization,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8510,NaN,NaN,Soil perturbation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8511,NaN,NaN,Soil respiration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
full.loc[8512:8727]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
8512,Ecology and environmental sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8513,NaN,Aquatic environments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8514,NaN,NaN,Freshwater environments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,NaN,NaN,NaN,Bogs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,NaN,NaN,NaN,Fens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8723,NaN,NaN,Chemical oxygen demand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8724,NaN,NaN,Dissolved oxygen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8725,NaN,NaN,Total dissolved solids,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8726,NaN,Wildfires,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8727,NaN,NaN,Wildfire management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
full.loc[8728:9239]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
8728,Engineering and technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8729,NaN,Aerospace engineering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8730,NaN,NaN,Astronautics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8731,NaN,NaN,Aviation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8732,NaN,NaN,Flight testing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9235,NaN,NaN,Transportation infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9236,NaN,NaN,NaN,Airports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9237,NaN,NaN,NaN,Canals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9238,NaN,NaN,NaN,Roads,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9239,NaN,NaN,NaN,NaN,Highways,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
full.loc[9240:13701]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
9240,Medicine and health sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9241,NaN,Anatomy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9242,NaN,NaN,Abdomen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9243,NaN,NaN,NaN,Peritoneum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9244,NaN,NaN,NaN,NaN,Mesentery,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13697,NaN,NaN,NaN,NaN,NaN,Preeclampsia,NaN,NaN,NaN,NaN,NaN,NaN
13698,NaN,NaN,NaN,NaN,NaN,Preterm birth,NaN,NaN,NaN,NaN,NaN,NaN
13699,NaN,NaN,NaN,Stillbirths,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13700,NaN,NaN,NaN,Termination of pregnancy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13701,NaN,NaN,Osteopenia and osteoporosis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
full[full['Unnamed: 11'].notna()]

,Tier 1,Tier 2,Tier 3,Tier 4,Tier 5,Tier 6,Tier 7,Tier 8,Tier 9,Tier 10,Tier 11,Unnamed: 11
5257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Macaca fascicularis
5258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rhesus monkeys